body{
    background-color: #2b2b2b;
}
div.left {
    height: 97.580645161290322580645161290323%;
    width: 30.823529411764705882352941176471%;
    background-color:;
    position: fixed;
}
ul{
    list-style-type: none;
    font-family: Verdana, sans-serif;
    font-size: 50px;
    position: absolute;
    top: 31.451612903225806451612903225806%;
    color:white;   
}
ul.options a{
    text-decoration: none;
    color: white;
}
ul.options li{
    width: 409px;
    text-align: center;
    position: relative;
    left: -48px;
    margin: 1px;
}
li.about:hover{
    border: 1px groove white;
    border-radius: 10px;
}
li.academics:hover{
    border: 1px groove white;
    border-radius: 10px;
}
li.updates:hover{
    border: 1px groove white;
    border-radius: 10px;
}
li.blogs:hover{
    border: 1px groove white;
    border-radius: 10px;
}
li.placements:hover{
    border: 1px groove white;
    border-radius: 10px;
}
li.about1{
    background-color: white;
    color: #2b2b2b;
}
li.academics1{
    background-color: white;
    color: #2b2b2b;
}
li.placements1{
    background-color: white;
    color: #2b2b2b;
}
li.updates1{
    background-color: white;
    color: #2b2b2b;
}
li.blogs1{
    background-color: white;
    color: #2b2b2b;
}
div.middle{
    height: 97.580645161290322580645161290323%;
    width: 55.118110236220472440944881889764%;
    background-color:white;
    position: fixed;
    left: 31.372549019607843137254901960784%;
}
div.right{
    width: 13.385826771653543307086614173228%;
    height: 97.580645161290322580645161290323%;
    background-color: ;
    position: fixed;
    top: 8px;
    left: 86.6%;
}
p{
    color: white;
    position: absolute;
    top: 85.483870967741935483870967741935%;
    font-size: 30px;
    font-family: cursive;
    right: 5.882352941176470588235294117647%;
}
p.club{
    color: white;
    position: absolute;
    top: 0%;
    margin: 0px;
    right: 13%;
    font-size: 85px;
}
div.line{
    height: 10px;
    position: relative;
    top: 91.5%;
    width: 84%;
    left:8%;
    background-color: white
    
}
ul.connect{
    font-size: 16px;
    margin: 0;
    list-style-type: none;
    position: relative;
    top: 93%;
    width: 75%;
    left: 1%; 
    text-align: center;
}
li.v{
    display: inline;
    padding-right: 10px;
    text-align: center;
}

a.acharya{
    text-decoration: none;
    color:white;
}
p.middle{
    color: black;
    font-size: 16pt;
    background-color: white;
    width: 665px;
    padding: 20px;
    left: 0px;
    top:280px
    
}
img.books{
    width: 705px;
    height: 300px
}