body{
    background-color: #2b2b2b; 
}
div.left {
    height: 97.580645161290322580645161290323%;
    width: 30.823529411764705882352941176471%;
    background-color:;
    position: fixed;
}
ul{
    list-style-type: none;
    font-family: Verdana, sans-serif;
    font-size: 50px;
    position: absolute;
    top: 31.451612903225806451612903225806%;
    color:white;  
}
ul.options a{
    text-decoration: none;
    color: white;
}
ul.options li{
    width: 118%;
    text-align: center;
    position: relative;
    left: -48px;
    margin: 1px;
}
ul.options li:hover{
    border: 1px groove white;
    border-radius: 10px;
}
div.middle{
    height: 97.580645161290322580645161290323%;
    width: 55.118110236220472440944881889764%;
    background-color:;
    position: fixed;
    top:px;
    left: 31.372549019607843137254901960784%;
    
}
div.right{
    height: 97.580645161290322580645161290323%;
    width: 13.385826771653543307086614173228%;
    background-color: ;
    position: fixed;
    left: 86.6%;
}
p{
    color: white;
    position: absolute;
    top: 85.483870967741935483870967741935%;
    font-size: 30px;
    font-family: cursive;
    right: 5.882352941176470588235294117647%;
}
p.club{
    color: white;
    position: absolute;
    top: 0%;
    margin: 0px;
    right: 13%;
    font-size: 85px;
}
div.line{
    height: 10px;
    position: relative;
    top: 91.5%;
    width: 84%;
    left:8%;
    background-color: white;
    
}
ul.connect{
    font-size: 16px;
    margin: 0;
    list-style-type: none;
    position: relative;
    top: 93%;
    width: 75%;
    left:0.980392156862745098039215686275%; 
    text-align: center;; 
}
li.v{
    display: inline;
    padding-right: 10px
}
p.welcome{
    position: relative;
    text-align: center;
    width: 200px;
    height: 40px;
    margin: auto;
    top:270px;
    font-family:Verdana, Geneva, sans-serif;
    border: 3px solid #00ff00;
    border-radius: 5px;
    color: #00ff00;
    font-weight: 100;
    padding-top: 2px
}

a.welcome{
    text-decoration: none;
    color: #00ff00;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: auto;
    border-radius: 5px;
    
}
p.welcome:hover{
    background-color:#00ff00; 
    color:#2b2b2b;
}
a.welcome:hover{
    background-color:#00ff00;
    color:#2b2b2b;
    
}
a.acharya{
    text-decoration: none;
    color:white;
}